#
# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause
#

menuconfig MCUX_COMPONENT_middleware.multicore.mcmgr
    bool "Multicore Manager mcmgr"
    help
        This option will enable Multicore Manager Middleware Component

if MCUX_COMPONENT_middleware.multicore.mcmgr

# menu "Multicore Manager Environment Porting"
#     rsource "./Kconfig.env"
# endmenu

rsource "./Kconfig.platform"

endif
